 @media screen and (max-width:768px) {
    header{
        display: flex;
    }
    .search-box input{
        display: none;
    }
    .search-box{
        width: 40px;
        height: 40px;
    }
    .head-icons{
        display: none;
    }
    /* .mobile-header{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0 8px;
        height: 100px;
    }
    .logo{
        width: 140px;
        margin-left: -10px;
    }
    .top-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: gray;
    }
    .icons{
        display: flex;                                                               ;
    }
    .plus{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    } */
    
 }