 @media screen and (max-width:768px) {
    header{
        display: flex;
        width: 100%;
    }
    .search-box input{
        display: none;
    }
    .search-box{
        width: 40px;
        height: 40px;
    }
    .head-icons{
        display: none;
    }
    
    .left-content{
        display: none;
    }
    .middle-content{
        width: 100%;
    }
    .create-post-content{
        width: 100%;
        margin-top: 6px;
    }
    .create-post-btn{
        width: 150px;
        padding: 5px 10px;
    }
    .middle-post-content{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .right-content{
        display: none;
    }
 }