
header{
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo{
    width: 40px;
    height: 40px;
}
.logo img{
    width: 100%;
    object-fit: cover;
}
.search-box{
    background-color: #f0f2f5;
    border-radius: 30px;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.search-box i{
    color: gray;
}
.search-box input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
.left-head{
    display: flex;
    gap: 10px;
}
.head-icons{
    height: 100%;
    display: flex;
    align-items: center;
}
.head-icons div{
    width: 100px;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.head-icons div:hover{
    background-color: #f2f4f7;
    padding: 10px;
    height: auto;
    border-radius: 8px;
}
.head-icons i{
    font-size: 22px;
}

.home-icon{                                                         
    border-bottom: 2px solid #0866ff;
    color: #0866ff;

}
.right-icons{
    display: flex;
    gap: 10px
    ;
}
.right-icons div{
    background-color: #f2f4f7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    max-width: 1600px;
    margin: auto;
}
.container{
    display: flex;
    
}
.left-content{
    flex: 1;
}
.middle-content{
    flex: 3;
}
.right-content{
    flex: 1;
}
.container .left-content {
    padding: 20px 10px;

}
.box{
    display: flex;
    border: 1px solid black;

}
.box .profile-img{
    width: 40px;
    height: 40px;

}
.left-content{
    flex: 1;
}
/* .profile-img img{
    width: 100%;
    object-fit: cover;
} */
.profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("/assests/profile.jfif");
    background-size: cover;
}

.profile-icon img{
    width: 100%;

}
.boxes{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle-post-content{
    padding: 0 60px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 800px;
  
}
.create-post-content{
    display: flex;  
    background-color: white;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
    gap: 10px;
}
.profile{
    background-image: url("/assests/profile.jfif");
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}
.create-post-btn{
    background-color: #f0f2f5;
    width: 75%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    text-align: left;
    cursor: pointer;
}
.post-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
}
.post-icon:hover{
    background-color: #f2f4f7;
    cursor: pointer;
}
.story{
    width: 100px;
    height: 180px;
    border-radius: 12px;
    background-size: cover;
    position: relative;
    padding: 4px;
}
.story-title{
    position: absolute;
    bottom: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    text-align: start;
    left: 6px;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 12px;
}
.story-profile{
    background-image: url("/assests/profile.jfif");
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}
.stories-box{
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
}
.story{
    flex-shrink: 0;
}
/* Post Box Designing  */
.post-box{
    background-color: white;
    width: 100%;
    max-height: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.top-post-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.top-post-left-box{
    display: flex;
}
.post-name{
    font-weight: 600;
    font-size: 16px;
}
.date{
    color: gray;
    font-size: 14px;
}
.post-caption{
    padding: 10px;
}
.post-image{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-color: black;
    height: 400px;
}
.like-react{
    width: 24px;
    height: 24px;
    background-color: #03a1fc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}
.reactions{
    display: flex;
}
.reactions-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;

}
.likes-comments-shares{
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;

}
.likes-comments-shares div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 6px 0;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.likes-comments-shares div:hover{
    background-color: #f2f4f7;
}
.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-post-popop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.479);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  
}
.create-post-popop > form{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 6px;
}
.create-post-popop > form .heading p{
    font-size: 20px;
    font-weight: 600;
} 




