.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    margin-top: 60px;

}

.left-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;                                                                                                      
}

.logo {
    width: 200px;
    margin-left: -18px;

}

.logo>img {
    width: 100%;
}

.card {
    width: 150px;
    border-radius: 6px;
    height: 190px;
    position: relative;
}
.card-content{
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    outline: 1px solid #e4e6e9;

}
.card > img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;
}
.recent{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: -19px;
}
.recent > h1{
    font-weight: 500;
    font-size: 34px;

}
.recent > p{
    font-size: 14px;
    color: gray;
}
.profile-card{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.plus{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.login-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px 10px;
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
}
.right{
    margin-top: 60px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #dadde1;
}
.login-input  input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 6px;
    outline: 1px solid #dddfe2;
    border: none;
}
.login{
    background-color: #0866ff;
    width: 100%;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 6px;
}
.forget{
    font-size: 14px;
    text-decoration: none;
    color: #0866ff;
    text-align: center;
}
.new-account{
    background-color: #42b72a;
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
    margin: auto;
}
a{
    margin: auto;
    cursor: pointer;
}
